* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Section One / Hero section */

.top-bar {
    height: 100px;
    background: url(images/top-bar-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -70px;
    position: relative;
}

.top-bar > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFA800;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.56rem;
    font-weight: normal;
}


.header {
    background-color: rgba(28, 73, 59, .3);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.header > p { 
    padding-left: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    cursor: pointer;
    z-index: 9;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #1C493B;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar:nth-child(1) {
    transform: rotate(-47deg) translate(-7px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(47deg) translate(-7px, -6px);
}

.menu-links {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    z-index: 8;
}

.menu-links.show {
    transform: translateY(100%);
    transition: .3s ease-in;
    height: 100vh;
    overflow-y: auto;
}

.menu-links a {
    margin-top: 15px;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    text-align: right;
    transition: background-color .3s;
}

.menu-links a:hover {
    background-color: #333;
}

.menu.change + .menu-links {
    display: flex;
    transform: translateY(0);
}

/*end of navbar*/

/*hero bg*/

#hero-section {
    height: 100vh;
    background: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero-section > h1 {
    font-size: 12rem;
    font-weight: 300;
    color: #FFA800;
    font-style: italic;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials-hero-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgba(255, 168, 0, 1);
}